.presentSimple {
    padding: 1rem;
}

.presentSimple > h1{
    color: var(--var-color-h);
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem grey;
    margin: 0 0 1rem 0;
    text-decoration: underline;
}

.presentSimple-rule{
    color: var(--var-color-text);
    margin: 0 0 1rem 0;
}


.presentSimple-markers > h2,
.presentSimple-formation > h2,
.presentSimple-toBe > h2,
.presentSimple-affirmative > h2,
.presentSimple-negative > h2,
.presentSimple-interrogative > h2{
    color: var(--var-color-h);
}

.presentSimple-markers > ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0 0.5rem;
}

.presentSimple-markers > ul > li{
    text-align: center;
    color: var(--var-color-li);
}

.presentSimple-formation-info, .presentSimple-affirmative-info{
    margin: 0.5rem 0 0 0.5rem;
}

html, body {
    scroll-behavior: smooth;
}







