.popUpComponent{
    width: 69%;
    min-height: 15rem;
    background: gainsboro;
    position: fixed;
    top: 45%;
}

.trainingPopUp-btn{
    background: #4d79ff;
    text-align: center;
}

.direction-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nextPrev{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popBtn{
    width: 15%;
    background: green;
    border-radius: 0.5rem;
    padding: 2px;
    min-height: 0;
    text-align: center;
}