.btnVocabularyTitle{
    width: 20%;
}

.btnVocabularyTitle-btn{
    border-radius: 0.5rem;
    min-height: 2.2rem;
    font-size: 0.75rem;
    transition: 2s;
}

.btnVocabularyTitle-btn:hover{
    transform: scale(1.1, 1.1);
    color: #e60000;
    text-align: center;
}