.futurePerfectContinuous{
    padding: 1rem;
}

.futurePerfectContinuous > h1{
    color: var(--var-color-h);
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem grey;
    margin: 0 0 1rem 0;
    text-decoration: underline;
}

.futurePerfectContinuous-rule{
    color: var(--var-color-text);
    margin: 0 0 1rem 0;
}

.futurePerfectContinuous-markers > h2,
.futurePerfectContinuous-formation > h2,
.futurePerfectContinuous-affirmative > h2,
.futurePerfectContinuous-negative > h2,
.futurePerfectContinuous-interrogative > h2{
    color: var(--var-color-h);
}

.futurePerfectContinuous-markers > ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0 0.5rem;
}

.futurePerfectContinuous-markers > ul > li{
    text-align: center;
    color: var(--var-color-li);
}
