.header-main{
    width: 100%;
}

.header {
    /*margin-bottom: 1.6rem;*/
    justify-content: space-around;
}

.header-title {
    width: 60%;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    text-transform: uppercase;
}

.header-icon > .home-icon {
    font-size: 3rem;
    color: var(--var-bg-button);
    cursor: pointer;
}

.home-icon:hover {
    color: var(--var-color-li);
}

.header-main-menu-block{
    padding-bottom: 1rem;
}