.btn-quiz{
    width: 14rem;
    border-radius: 0.5rem;
    background: olivedrab;
    min-height: 2rem;
}

.go-up {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: #4d79ff;
    font-size: 1.5rem;
    color: red;
    position: fixed;
    bottom: 1rem;
    right: 10rem;
    border: none;
}