.sequenceOfTensesComponent {
    padding: 1rem;
}

.sequenceOfTensesComponent > h1 {
    color: var(--var-color-h);
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem grey;
    margin: 0 0 1rem 0;
    text-decoration: underline;
    font-size: 2rem;
    padding-top: 4.7rem;
}

.sequenceOfTensesComponent-rule {
    color: var(--var-color-text);
    margin: 0 0 1rem 0;
}

.sequenceOfTensesComponent-markers > h2,
.sequenceOfTensesComponent-formation > h2,
.sequenceOfTensesComponent-affirmative > h2,
.sequenceOfTensesComponent-negative > h2,
.sequenceOfTensesComponent-interrogative > h2 {
    color: var(--var-color-h);
}

.sequenceOfTensesComponent > .h1-second {
    color: var(--var-color-example-text);
    font-style: italic;
}
