* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-bg-image: url(./images/greyfon.jpg) no-repeat center fixed;
    --var-bg-header-outlet: #F5F5DC;
    --var-bg-button: lightseagreen;
    --var-color-button: snow;
    --var-color-h: black;
    --var-color-strong: #e60000;
    --var-color-text: #808080;
    --var-color-li: #4d79ff;
    --var-color-example-text: #cc5200

}

body {
    background: var(--var-bg-image);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: grey;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

li {
    list-style: none;
}

.width{
    width: 100%;
}

.marginTop {
    margin-top: 1rem;
}

.fontSizeText{
    font-size: 1.2rem;
}

button {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--var-color-button, #ffffff);
    background: var(--var-bg-button, linear-gradient(135deg, #4a90e2, #e94e77));
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

strong {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--var-color-strong);
}

b{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--var-color-example-text);
}

.flexDirectionColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example{
    color: var(--var-color-li);
    font-size: 1.1rem;
    font-style: italic;
}

.vocabularySingleWordInfo{
    width: 25%;
    height: 3rem;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.5rem 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


