*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --var-bg-image: url(./images/greyfon.jpg) no-repeat center fixed;
}

body {
  background: var(--var-bg-image);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
  text-decoration: none;
}

button{
  width: 100%;
  min-height: 3rem;
  padding: 0.3rem;
  text-transform: uppercase;
  background: lightseagreen;
  color: snow;
  cursor: pointer;
  font-weight: bold;
  text-align: start;
}
