.alphabetComponent {
    padding: 1rem;
}

.alphabetComponent > h1 {
    color: var(--var-color-h);
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem grey;
    margin: 0 0 1rem 0;
    text-decoration: underline;
}

.alphabetComponent-block {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}