.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.layout-left, .layout-right{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.outlet{
    width: 100%;
    min-height: 60vh;
    background: snow;
}