.container {
    width: 100%;
    padding: 1rem 3rem;
}


.main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.maineHomeComponentBlock {
    width: 100%;
    min-height: 90vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.header-block {
    /*background: var(--var-bg-header-outlet);*/
    width: 100%;
    position: fixed;
    top: 0;
}

.layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 10rem;
}

.layout-left, .layout-right {
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.outlet {
    width: 100%;
    min-height: 100vh;
    background: var(--var-bg-header-outlet);
}

